gradio
llama-index
langchain
openai
faiss-cpu
tiktoken
PyPDF2
langchain-community
langchainhub
sentence-transformers  
transformers               
torch            
groq
llama-index-embeddings-huggingface
llama-index-vector-stores-faiss
frontend
llama_index.llms.huggingface
fitz
pymupdf
PyPDF2
